
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Arduino / PlatformIO
.pio/
.pioenvs/
.piolibdeps/
*.elf
*.hex
*.bin
*.map

# VS Code
.vscode/
*.code-workspace

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Project specific
output/
tmp/
